<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gnnt.mebs.simpledemo">

    <application>
        <activity android:name=".demo1_loadData.LoadDataActivity" />
        <activity android:name=".demo2_dataBinding.DataBindingActivity" />
        <activity android:name=".demo3_fileRepository.FileRepositoryActivity" />
        <activity android:name=".demo5_pageViewModel.PageActivity" />
        <activity android:name=".demo4_roomRepository.RoomRepositoryActivity" />
        <activity android:name=".demo6_globalEvent.GlobalEventActivity" />
        <activity android:name=".demo6_globalEvent.LoginActivity" />
        <activity android:name=".demo6_globalEvent.RegisterActivity" />
        <activity android:name=".demo7_dynamicParams.DynamicParamsActivity"/>
    </application>
</manifest>
